{
  "plugins": [
    ["module:react-native-dotenv"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@": "./src",
          "$shared": "./src/shared"
        }
      }
    ]
  ]
}
